<!DOCTYPE html>
<html lang="en">

<head>
  <title>Server</title>

  <!-- icon -->
  <link rel="icon" href="/images/logo.png" type="image/x-icon" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <main>
    <h1>Online Store - Server Side</h1>
    <br />
    <h1>Check our <a href="http://localhost:3100" target="_blank">Shoe Store</a></h1>
    <hr />
    <ul>
      <h3>APIs list</h3>
      <li><a href="http://localhost:8100/api/users" target="_blank">Users</a></li>
      <li><a href="http://localhost:8100/api/products" target="_blank">Products</a></li>
      <li><a href="http://localhost:8100/api/specification" target="_blank">Specification</a></li>
    </ul>
  </main>
</body>

</html>
